<div class="flex flex-col md:flex-row gap-4 p-4">
  <!-- Cart Items -->
  <div class="w-full md:w-2/3 sm:p-4 p-0">
    <div class="flex justify-between">
    <h2 class="text-xl md:text-3xl font-bold mb-4 text-[var(--color-titulo)]">Carrito</h2>
    <mat-icon matTooltip="Pulsa para vaciar el carrito" (click)="clearCart()" class="hover:cursor-pointer">delete</mat-icon>
    </div>
    <div class="p-4 bg-white rounded-lg">
      <p *ngIf="cartItems.length === 0" class=" lg:text-lg text-md font-semibold">Aún no has añadido productos a tu carrito</p>
      <!-- Iterar sobre los productos -->
      <app-cuadro-carrito
        *ngFor="let product of products"
        [portada]="product.portada"
        [titulo]="product.titulo"
        [idTipo]="product.id_tipo"
        [cantidad]="product.cantidad"
        [precio]="product.precio"
        [tipoTapa]="product.tipoTapa"
        (quantityUpdated)="updateCartItem($event)"
      ></app-cuadro-carrito>
    </div>
  </div>

  <!-- Checkout Summary -->
  <div class="w-full md:w-1/3 sm:p-4 p-0">
    <h2 class="text-lg md:text-xl font-bold mb-4">Resumen de compra</h2>
    <div class="p-4 pl-0 pt-0">
      <div class="flex justify-between md:mb-4 mb-2">
        <span class="text-gray-500">Total libros</span>
        <span class="text-gray-500">{{ totalBooksPrice | currency:'€' }}</span>
      </div>
      <div class="flex justify-between md:mb-4 mb-2">
        <span class="text-gray-500">Descuento (opcional)</span>
        <span class="text-gray-500">{{ discount | currency:'€' }}</span>
      </div>
      <div class="flex justify-between mb-4 md:mb-8">
        <span class="text-gray-500">Envío</span>
        <span class="text-gray-500">{{ cartItems.length === 0 ? '€0.00' :shippingCost | currency:'€' }}</span>
      </div>
      <div class="flex justify-between font-bold md:mb-4 mb-2">
        <span class="text-gray-500">Total</span>
        <span class="text-gray-500">{{ cartItems.length === 0 ? '€0.00' : (totalBooksPrice - discount + shippingCost) | currency:'€' }}</span>
      </div>
      <p class="text-sm md:text-md text-[var(--color-rojo-resaltar)] mb-2 md:mb-4">
        Nota: envío gratis con suscripción, con compras superiores a 50€
      </p>
      <!-- Botón para enviar el pedido -->
      <ng-container *ngIf="cartItems.length > 0; else desactivado">
        <app-boton
          [size]="'medium'"
          [label]="'Ir al pago'"
          [color]="'#f45d48'"
          [routerLink]=" ['/pago']"
          *ngIf="cartItems.length > 0"
        ></app-boton>
      </ng-container>
      <ng-template #desactivado>
        <app-boton
          [size]="'medium'"
          [label]="'Ir al pago'"
          [color]="'rgba(244,93,72,0.68)'"
          [disabled]="true"
        ></app-boton>
      </ng-template>
    </div>
  </div>
</div>
