<header [ngClass]="{'bg-[#dceff5]': authService.isAdmin(), 'bg-[#fafaf8]': !authService.isAdmin()}" class="w-full border-b shadow-lg">
  <div class="w-full flex items-center justify-between px-4 sm:px-6 py-3 gap-2">
    <!-- Logo -->
    <div class="flex items-center">
      <a [routerLink]="['/main']">
        <img src="../assets/logo_nombre_hd.png" alt="Logo Tinteka"
             class="h-10 sm:h-12 w-auto max-w-[120px] sm:max-w-[160px]" />
      </a>
    </div>

    <div *ngIf="authService.isAdmin()" class="flex items-center">
      <a [routerLink]="['/admin']">
        <h2 class="text-2xl font-bold truncate sm:block hidden text-[#f45d48] ">Administrador</h2>
      </a>
    </div>

    <!-- Botón Menú Móvil -->
    <div class="md:hidden flex items-center gap-3">
<!--      Aqui las notificaciones del movil-->
      <a *ngIf="isAuthenticated" (click)="openNotifications($event)" matBadge="{{cantidadNotificaciones}}">
        <div class="flex items-center justify-center w-9 h-9 bg-gray-200 rounded-full cursor-pointer hover:bg-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14V11a6 6 0 10-12 0v3c0 .386-.149.735-.405 1.005L4 17h5m6 0a2 2 0 11-4 0" />
          </svg>
        </div>
      </a>

      <a [routerLink]="['/carrito']" matBadge="{{cantidadCarrito}}">
        <div class="flex items-center justify-center w-9 h-9 bg-gray-200 rounded-full cursor-pointer hover:bg-gray-300" >
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l1 5h13l1-5h2M5 8h14l-1 9H6L5 8zm5 13a1 1 0 100-2 1 1 0 000 2zm6 0a1 1 0 100-2 1 1 0 000 2z" />
          </svg>
        </div>
      </a>
      <button (click)="mobileMenuOpen = !mobileMenuOpen" class="p-2 focus:outline-none">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <ng-container *ngIf="!mobileMenuOpen; else closeIcon">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16" />
          </ng-container>
          <ng-template #closeIcon>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12" />
          </ng-template>
        </svg>
      </button>
    </div>

    <!-- Menú Desktop -->
    <nav class="hidden md:flex items-center gap-4 lg:gap-6">
      <a href="/tienda" class="font-bold text-sm text-[#111818] hover:text-[#078080]">Tienda</a>
      <a [routerLink]="['/infocajas/1']" class="text-sm font-medium text-[#f45d48] hover:text-[#ff7562]">Suscripciones</a>
      <!-- Botón Mi Cuenta -->
      <ng-container *ngIf="isAuthenticated">
        <a [routerLink]="['/usuario']" class="text-sm font-bold text-[#078080] hover:text-[#065f5f] underline truncate">Mi cuenta</a>

        <a (click)="openNotifications($event) "  matBadge="{{cantidadNotificaciones}}">
          <div class="flex items-center justify-center w-9 h-9 bg-gray-200 rounded-full cursor-pointer hover:bg-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14V11a6 6 0 10-12 0v3c0 .386-.149.735-.405 1.005L4 17h5m6 0a2 2 0 11-4 0" />
            </svg>
          </div>
        </a>

      </ng-container>

        <a [routerLink]="['/carrito']" matBadge="{{cantidadCarrito}}">
          <div class="flex items-center justify-center w-9 h-9 bg-gray-200 rounded-full cursor-pointer hover:bg-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l1 5h13l1-5h2M5 8h14l-1 9H6L5 8zm5 13a1 1 0 100-2 1 1 0 000 2zm6 0a1 1 0 100-2 1 1 0 000 2z" />
            </svg>
          </div>
        </a>

      <ng-container *ngIf="isAuthenticated; else loginRegisterButtons">
        <button
          class="rounded-xl px-6 md:px-9 py-2 bg-[#f45d48] text-white text-sm font-bold leading-normal hover:bg-[#ff7562]"
          (click)="logout()">
          Salir
        </button>
      </ng-container>
      <ng-template #loginRegisterButtons>
        <button
          class="rounded-xl px-3 lg:px-6 py-2 bg-white text-[#078080] text-sm font-bold leading-normal hover:bg-gray-100 border-2 border-transparent hover:border-[#078080]"
          [routerLink]="['/login']">
          Identificarse
        </button>
        <button
          class="rounded-xl px-3 lg:px-6 py-2 bg-[#078080] text-white text-sm font-bold leading-normal hover:bg-[#078080C3] truncate"
          [routerLink]="['/registro']">
          Registrarse
        </button>
      </ng-template>
    </nav>
  </div>

  <!-- Menú Móvil -->
  <div *ngIf="mobileMenuOpen" class="md:hidden bg-[#fafaf8] border-t border-gray-300">
    <div class="px-4 py-3 space-y-2 text-center">
      <a href="/tienda" class="block font-bold text-sm text-[#111818] hover:text-[#078080]">Tienda</a>
      <a href="#" class="block text-sm font-medium text-[#f45d48] hover:text-[#ff7562]">Suscripciones</a>

      <!-- Opciones de Usuario -->
      <ng-container *ngIf="isAuthenticated; else mobileLoginRegisterButtons">
        <a [routerLink]="['/usuario']" class="block text-sm font-bold text-[#078080] hover:text-[#065f5f] underline">
          Mi cuenta
        </a>
        <button
          class="rounded-xl px-12 py-2 bg-[#f45d48] text-white text-sm font-bold hover:bg-[#ff7562]"
          (click)="logout()">
          Salir
        </button>
      </ng-container>
      <ng-template #mobileLoginRegisterButtons>
        <div class="flex gap-4 flex-wrap justify-center">
          <button
            class="rounded-xl px-6 lg:px-6 py-2 bg-white text-[#078080] text-sm font-bold leading-normal hover:bg-gray-100 border-2 border-transparent hover:border-[#078080]"
            [routerLink]="['/login']">
            Identificarse
          </button>
          <button
            class="rounded-xl px-8 lg:px-6 py-2 bg-[#078080] text-white text-sm font-bold leading-normal hover:bg-[#078080C3] truncate"
            [routerLink]="['/registro']">
            Registrarse
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</header>
