<div class="flex justify-center p-4">
  <div class="relative w-full max-w-lg">
    <input
      type="text"
      placeholder="Buscar..."
      class="w-full rounded-full border border-gray-300 bg-white py-2 pl-10 pr-4 text-gray-700 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200 sm:text-sm"
      [(ngModel)]="searchText"
      (input)="onSearchInput(searchText)"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="absolute left-3 top-2.5 h-5 w-5 text-gray-400"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1016.5 9a7.5 7.5 0 00-4.35 13.65z"
      />
    </svg>
  </div>
</div>
