<!--<div class="layout-content-container flex flex-col w-80">-->

<!--  <app-buscador (searchChange)="onSearchChange($event)"></app-buscador>-->
<!--  <h2 class="color-titulo text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Categorías</h2>-->
<!--  <app-categorias [categories]="generos"  [categoriaSeleccionada]="filters.category" (categorySelected)="onCategoria($event)"></app-categorias>-->
<!--  <h2 class="color-titulo text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Rango de precio</h2>-->
<!--  <div class="@container">-->
<!--    <div class="relative flex w-full flex-col items-start justify-between gap-3 p-4 @[480px]:flex-row">-->
<!--      <p class="text-[#111818] text-base font-medium leading-normal w-full shrink-[3]">Precio</p>-->
<!--      <app-rango-precio></app-rango-precio>-->
<!--    </div>-->
<!--  </div>-->
<!--  <h2 class="color-titulo text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Autor</h2>-->
<!--  <div class="flex flex-col gap-3 p-4">-->
<!--    <label class="flex items-center gap-4 rounded-xl border border-solid border-[#dbe6e6] p-[15px] flex-row-reverse">-->
<!--      <input-->
<!--        type="radio"-->
<!--        class="h-5 w-5 border-2 border-[#dbe6e6] bg-transparent text-transparent checked:border-[#111818] checked:bg-[image:&#45;&#45;radio-dot-svg] focus:outline-none focus:ring-0 focus:ring-offset-0 checked:focus:border-[#111818]"-->
<!--        name="f4f833da-7d26-4db8-bfb9-e4c6af5cd30b"-->
<!--        checked=""-->
<!--      />-->
<!--      <div class="flex grow flex-col"><p class="text-[#111818] text-sm font-medium leading-normal">Todos</p></div>-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="flex px-4 py-3">-->
<!--    <button-->
<!--      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 color-resalto color-texto-blanco text-sm font-bold leading-normal tracking-[0.015em]"-->
<!--    >-->
<!--      <span class="truncate">Limpiar filtros</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
