<div class="overflow-x-auto lg:overflow-x-auto h-full flex justify-start lg:justify-start pt-10 pb-4 snap-x snap-mandatory whitespace-nowrap" *ngIf="masVendidos$ | async as masVendidos">
  <div class="flex space-x-4 snap-x snap-mandatory pl-4 lg:pl-8">
    <div
      *ngFor="let book of masVendidos"
      class="flex-none w-64 sm:w-72 md:w-[250px] lg:w-64 flex flex-col gap-1.5 cursor-pointer transition-transform transform md:hover:scale-105 md:hover:shadow-xl rounded-2xl px-2 h-full snap-center bg-[#f4f4f4]"
      [routerLink]="['/detallelibro', book.id]"
    >
      <div class="w-full h-48 bg-center bg-no-repeat bg-contain rounded-xl overflow-hidden">
        <img [src]="book.portada || ''" alt="{{ book.titulo || 'Título desconocido' }}" class="w-full h-full object-contain" />
      </div>
      <div class="flex flex-col flex-1 px-1 text-center">
        <div class="min-h-[60px] flex flex-col justify-center">
          <p class="text-[#111818] text-base font-medium leading-normal line-clamp-2 mb-1">
            {{ book.titulo || 'Título desconocido' }}
          </p>
        </div>
        <p class="text-[#608a8a] text-sm font-normal leading-tight line-clamp-1 mb-1">{{ book.autor || 'Autor desconocido' }}</p>
        <p class="text-[#608a8a] text-sm font-normal leading-tight line-clamp-1 mb-1">{{ book.genero || 'Género desconocido' }}</p>
      </div>
    </div>
  </div>
</div>
