<div class="max-w-2xl lg:max-w-4xl xl:max-w-6xl mx-auto p-4 md:p-6 lg:p-8 md:mt-10" style="background-color: var(--color-blanco-fondo)">
  <div class="mb-6 md:mb-8 lg:mb-10">
    <div class="flex justify-start">
      <svg class="w-24 h-24 md:w-36 md:h-36 lg:w-48 lg:h-48"
           viewBox="0 0 24 24"
           fill="none"
           stroke="#222525"
           stroke-width="2"
           preserveAspectRatio="xMidYMid meet">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
      </svg>
    </div>

    <!-- Encabezado -->
    <div class="flex items-center gap-4 mb-8">
      <h1 class="text-3xl md:text-4xl font-bold text-gray-800">
        Bienvenido, {{ datosCliente.username}}
      </h1>
    </div>

    <!-- Contenido -->
    <p class="text-md md:text-xl text-gray-600 mb-8">
      Aquí podrás ver tu información personal, tu historial de pedidos y tus suscripciones activas.
    </p>
  </div>

  <!-- Sección de perfil -->
  <div class="mb-6 md:mb-8 lg:mb-10">
    <div class="flex flex-col md:flex-row md:justify-between md:items-start">
      <div class="mb-4 md:mb-0">
        <h1 class="text-l md:text-xl lg:text-2xl font-bold mb-2" style="color: var(--color-titulo)"> {{datosCliente.nombre}} {{datosCliente.apellido}} </h1>
        <p class="text-base md:text-lg text-gray-400">{{datosCliente.email}}</p>
        <p class="text-base md:text-lg text-gray-400">{{datosCliente.telefono}}</p>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row gap-3 md:gap-4 mt-3">
      <app-boton [label]="'Cambiar Contraseña'" [size]="'large'" [color]="'#f45d48'"></app-boton>
      <app-boton [label]="'Editar Perfil'" [size]="'large'"></app-boton>
    </div>
  </div>

  <!-- Dirección de envío -->
  <div class="mb-6 md:mb-8 lg:mb-10">
    <h2 class="text-lg md:text-xl lg:text-2xl font-bold mb-3 md:mb-4" style="color: var(--color-titulo)">Dirección de envío</h2>
    <div class="p-3 md:p-4 rounded-lg flex justify-between items-center w-full" style="background-color: var(--color-blanco-secundario)">
      <div class="mr-2">
      <span class="text-sm md:text-base font-medium" style="color: var(--color-texto)">
         {{
          datosCliente.direccion
        }}
      </span>
        <br>
        <span class="text-sm md:text-base text-gray-400">
        Dirección de envío por defecto
      </span>
      </div>
      <app-boton [size]="'medium'" [label]="'Editar'"></app-boton>
    </div>
  </div>

  <!-- Historial de pedidos -->
  <div class="mb-6 md:mb-8 lg:mb-10">
    <h2 class="text-lg md:text-xl lg:text-2xl font-bold mb-3 md:mb-4" style="color: var(--color-titulo)">Historial de Pedidos</h2>

    <div class="space-y-3 md:space-y-4">
      <!-- Pedido repetido -->
      <div *ngFor="let pedido of datosCliente.pedidos" class="w-full relative group bg-white">
        <div class="p-3 md:p-4 rounded-lg transition-all duration-200 cursor-pointer"
             (click)="toggleDropdown()"
             (keydown.enter)="toggleDropdown()"
             tabindex="0">
          <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center">
            <div class="flex-1">
              <div class="flex justify-between items-center mb-1">
              <span class="font-medium text-base md:text-lg" [style.color]="'var(--color-texto)'">
                Pedido {{ pedido.referencia }}
              </span>
                <svg class="w-5 h-5 transform transition-transform"
                     [style.color]="'var(--color-texto)'"
                     [class.rotate-180]="isOpen"
                     fill="none"
                     stroke="currentColor"
                     viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                </svg>
              </div>
              <p class="text-sm md:text-base mt-1" [style.color]="'var(--color-texto)'">
                {{ pedido.fecha | date:'dd/MM/yyyy' }}
              </p>
              <p class="text-sm md:text-base mt-1" [style.color]="'var(--color-texto)'">
                {{ pedido.estadoNombre }}
              </p>
            </div>
          </div>

          <!-- Contenido desplegable -->
          <div class="overflow-hidden transition-all duration-300"
               [class.max-h-0]="!isOpen"
               [class.max-h-[200px]]="isOpen">
            <div class="pt-4 border-t border-gray-300 mt-4">
              <p class="text-sm md:text-base" [style.color]="'var(--color-texto)'">
                20€ - Libro 1
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-4">
      <app-boton [size]="'medium'" [label]="'Ver más'"></app-boton>
    </div>
  </div>

  <!-- Suscripciones -->
  <div>
    <h2 class="text-lg md:text-xl lg:text-2xl font-bold mb-3 md:mb-4" style="color: var(--color-titulo)">Suscripciones Activas</h2>
    <div class="p-3 md:p-4 rounded-lg" style="background-color: var(--color-blanco-secundario)">
      <ng-container *ngIf="datosCliente.suscripcion && datosCliente.suscripcion.tipo; else noSuscripcion">
        <span class="text-sm md:text-base font-medium" style="color: var(--color-texto)">
          {{ datosCliente.suscripcion.tipo }} - Activa desde {{ datosCliente.suscripcion.fechaInicio | date:'dd/MM/yyyy' }}
        </span>
      </ng-container>
      <ng-template #noSuscripcion>
        <span class="text-sm md:text-base font-medium" style="color: var(--color-texto)">
          No hay suscripciones activas
        </span>
      </ng-template>
    </div>
  </div>
</div>
