<div class="flex flex-col gap-3 pb-3">
  <div class="w-full h-48 bg-center bg-no-repeat bg-cover rounded-xl overflow-hidden">
    <img
      [src]="bookCover"
      alt="{{ title }}"
      class="w-full h-full object-cover"
    />
  </div>
  <div>
    <p class="text-[#111818] text-base font-medium leading-normal">{{ title }}</p>
    <p class="text-[#608a8a] text-sm font-normal leading-normal">{{ author }}</p>
    <p class="text-[#111818] text-sm font-medium leading-normal">{{ price | currency }}</p>
    <div class="flex items-center gap-1 text-black">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
        <svg *ngIf="star <= rating" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
        <svg *ngIf="star > rating" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.707.942 5.27-4.721-2.524v-12z"/></svg>
      </ng-container>
      <span class="text-[#608a8a] text-sm font-normal leading-normal">({{ rating }})</span>
    </div>
  </div>
</div>
