<div class="border-b border-gray-300 py-4 relative">
  <h4 class="text-lg font-semibold">{{ nombre }} {{ apellido }}</h4>
  <div class="text-lg my-1">
    <span class="text-2xl" *ngFor="let star of Array(rating).fill(0)">★</span>
  </div>
  <p class="text-gray-700">{{ comment }}</p>
  <button *ngIf="idClienteResena === idClienteActual" (click)="showConfirmDelete = true" class="absolute bottom-0 right-0 mb-2 mr-2">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- Alerta de Confirmación -->
  <app-alert-confirmar *ngIf="showConfirmDelete" [message]="'¿Estás seguro de que quieres eliminar esta reseña?'"
                       (confirm)="deleteResenya()" (cancel)="showConfirmDelete = false">
  </app-alert-confirmar>
</div>
