<div class="p-6">
  <h2 class="text-3xl font-bold text-red-500">{{ price }}€</h2>

  <div class="mt-4">
    <p class="font-bold mb-3">Tipo de tapa:</p>
    <label *ngFor="let tipo of tiposTapa" class="block border rounded-xl p-4 mb-4 cursor-pointer">
      <input type="radio" name="cover" [value]="tipo" (change)="selectCover(tipo)"
             [checked]="selectedTipoTapa?.id_tipo_tapa === tipo.id_tipo_tapa" class="mr-2 w-4 h-4">
      {{ tipo.descripcion }}
    </label>
  </div>

  <div class="mt-4">
    <p class="font-bold mb-3">Cantidad:</p>
    <div class="flex items-center justify-between mb-4 border rounded-xl p-4">
      <span class="text-lg font-semibold">{{ quantity }}</span>
      <div class="flex flex-row items-end">
        <button (click)="updateQuantity(-1)" class="mr-2 border-black border-2 rounded-full w-8 h-8 flex items-center justify-center">
          <mat-icon>remove</mat-icon>
        </button>
        <button (click)="updateQuantity(1)" class="border-black border-2 rounded-full w-8 h-8 flex items-center justify-center">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="mt-4 w-full flex justify-center">
    <app-boton [label]="'Añadir al carrito'" [color]="'#E53935'" (click)="anadirAlCarrito()" [size]="'small'"></app-boton>
  </div>

  <!-- Alerta -->
  <app-alert-info [message]="alertMessage" [isVisible]="isAlertVisible" [type]="alertType"> ></app-alert-info>
</div>
