@import url(colors.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%;}
body {
  margin: 0;
  font-family: "Work Sans", serif;
  background-color: var(--color-blanco-fondo);
  }
